*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 24px;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  color: #fff;
}
.header__top {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__item {
  margin-left: 62px;
}
.header__link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.header__slider {
  margin-top: 130px;
  text-align: center;
}
.header__collection {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(30/18 * 1em);
  letter-spacing: 8px;
  padding-bottom: 45px;
}
.header__discount {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: calc(59/18 * 1em);
  padding-bottom: 45px;
}
.header__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: calc(30/18 * 1em);
  line-height: 36px;
  padding-bottom: 45px;
}
.header__btn {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  padding: 23px;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
}
.header__slider .slick-slide {
  margin-top: 50px;
  outline: none;
}
.header__slider .slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}
.header__slider .slick-dots li {
  padding: 150px 0 60px;
  margin-left: 8px;
}
.header__slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid #fff;
}
.header__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: #fff;
  outline: none;
}

.products__inner {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__list {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.products__item {
  max-width: 370px;
  width: 100%;
  margin-right: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.products__item:last-child {
  margin-right: 0;
}
.products__link img {
  width: 100%;
  height: 100%;
  max-width: 418px;
}
.products-animation {
  width: 100%;
  height: 100%;
  background-color: #222533;
  opacity: 0.702;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transform: translateY(-110%);
}
.products__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  line-height: 46px;
  color: #fff;
}
.products__link:hover .products-animation {
  transform: translateY(0);
}
.products-discount {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.products-discount__left {
  background-image: url("/images/prod-dis-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-right: 30px;
}
.products-discount__right {
  background-image: url("/images/prod-dis-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.products-discount__inner {
  padding: 117px 0;
  text-align: center;
}
.products-discount__left .products-discount__title {
  width: 285px;
  margin: 0 auto;
}
.products-discount__title {
  position: relative;
}
.products-discount__right .products-discount__title {
  max-width: 432px;
  margin: 0 auto;
}
.products-discount__words {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #fff;
  display: block;
}
.products-discount__title::after, .products-discount__title::before {
  content: "";
  width: 192px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 34px;
  line-height: 40px;
  padding: 25px 0;
  position: relative;
  display: inline-block;
}

.title::after,
.title::before {
  content: "";
  width: 113px;
  height: 3px;
  background-color: #dc0000;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.title::before {
  content: "";
  top: 0;
}

.title::after {
  content: "";
  bottom: 0;
}

.trending-items {
  background-image: url("/images/tranding-items_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.trending-items__inner {
  margin-top: 60px;
  padding-bottom: 90px;
  text-align: center;
}
.trending-items__inner .title {
  margin: 80px 0;
}
.trending-items .slick-slide {
  display: flex;
}
.trending-items .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}
.trending-items .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 10px;
  outline: none;
  border: none;
  background-color: #878787;
  padding: 0;
}
.trending-items .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid #dc0000;
}
.trending-items__slider-item {
  display: flex;
  justify-content: space-between;
}
.trending-items__left-side {
  max-width: 570px;
  margin-right: 30px;
}
.trending-items__right-side {
  text-align: left;
  max-width: 570px;
}
.trending-items__collection {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400px;
  color: #777777;
  position: relative;
  padding-bottom: 25px;
}
.trending-items__collection::after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.trending-items__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #777777;
}
.trending-items__text + .trending-items__text {
  margin-bottom: 80px;
}
.trending-items__sizes {
  max-width: 370px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.trending-items__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}
.trending-items__button:hover {
  color: #fff;
  background-color: #333333;
  border: 1px solid transparent;
}
.trending-items__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 370px;
}

.title-of-content {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #dc0000;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  border: 1px solid #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.button:hover {
  color: #fff;
  background-color: #333333;
  border: 1px solid transparent;
}

.blog {
  padding: 0 15px;
}
.blog__inner {
  padding: 60px 0;
  text-align: center;
}
.blog__inner .title {
  margin-bottom: 60px;
}
.blog__slider .slick-list {
  max-width: 1200px;
  margin: 0 auto;
  border: none;
  outline: none;
}
.blog__slider .slick-list .blog__slider-inner {
  display: flex;
  justify-content: space-between;
}
.blog__slider-item + .blog__slider-item {
  margin-left: 30px;
}
.blog__slider-item {
  text-align: left;
  max-width: 570px;
}
.blog__slider .slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 20px;
}
.blog__slider .slick-prev {
  left: 0;
}
.blog__slider .slick-next {
  right: 0;
}
.blog__main-info {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  color: #333333;
}
.blog__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 60px;
}
