*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 24px;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
}
.header__top {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__item {
  margin-left: 62px;
}
.header__link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.header__slider {
  margin-top: 130px;
  text-align: center;
  display: block;
}
.header__collection {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(30/18 * 1em);
  letter-spacing: 8px;
  padding-bottom: 45px;
}
.header__discount {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: calc(59/18 * 1em);
  padding-bottom: 45px;
}
.header__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: calc(30/18 * 1em);
  line-height: 36px;
  padding-bottom: 45px;
}
.header__btn {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  padding: 23px;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
}
