*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 24px;
}

body {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  color: #fff;
}
.header__top {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__item {
  margin-left: 62px;
}
.header__link {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.header__slider {
  margin-top: 130px;
  text-align: center;
}
.header__collection {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(30/18 * 1em);
  letter-spacing: 8px;
  padding-bottom: 45px;
}
.header__discount {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: calc(59/18 * 1em);
  padding-bottom: 45px;
}
.header__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: calc(30/18 * 1em);
  line-height: 36px;
  padding-bottom: 45px;
}
.header__btn {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  padding: 23px;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
}
.header__slider .slick-slide {
  margin-top: 50px;
  outline: none;
}
.header__slider .slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}
.header__slider .slick-dots li {
  padding: 150px 0 60px;
  margin-left: 8px;
}
.header__slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid #fff;
}
.header__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: #fff;
  outline: none;
}

.products__inner {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__list {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.products__item {
  max-width: 370px;
  width: 100%;
  margin-right: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.products__item:last-child {
  margin-right: 0;
}
.products__link img {
  width: 100%;
  height: 100%;
  max-width: 418px;
}
.products-animation {
  width: 100%;
  height: 100%;
  background-color: #222533;
  opacity: 0.702;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transform: translateY(-110%);
}
.products__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  line-height: 46px;
  color: #fff;
}
.products__link:hover .products-animation {
  transform: translateY(0);
}
.products-discount {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.products-discount__left {
  background-image: url("/images/prod-dis-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-right: 30px;
}
.products-discount__right {
  background-image: url("/images/prod-dis-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.products-discount__title {
  text-align: center;
}
.products-discount__words {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #fff;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 34px;
  line-height: 40px;
  padding: 25px 0;
  position: relative;
  display: inline-block;
}

.title::after,
.title::before {
  content: "";
  width: 113px;
  height: 3px;
  background-color: #dc0000;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.title::before {
  content: "";
  top: 0;
}

.title::after {
  content: "";
  bottom: 0;
}
